@import url(reset.css);


body{
    background-color: #796DE8;
    color: aliceblue;
}

h1{
    text-align: center;
    margin: 3px;
    font-size: 200%;
    font-family: Arial;
}

#contenedor{
    vertical-align: middle;
    background-color: #85FFD0;    
    font-family: Arial;
    text-align:center;
    display: inline-block;
    width: 100%;
    color: black
}

p{
    margin: 3px;
    font-size: 150%;
    text-align:center;
}

.jugadores{
        text-align: -webkit-center;    
}


.formJugadores label{
    margin-top: 10px;
    display: block;
}

.formJugadores button{
    display: block;
    vertical-align: middle;
}


.niveles{
    display: block;
    margin:20px;
    height: 10vh;
   text-align:center;
}


button {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background-color:#FF6C4C;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
    margin: 10px;
}

button:hover {
	background-color:#6c7c7c;
}
button:active {
	position:relative;
	top:1px;
}


/*----------------------NIVEL 0-------------------------*/

.taTeTi0 {
  align-self: center;
   display: grid;
    grid-template-columns: 10vw 10vw 10vw;
    grid-template-rows: 10vh 10vh 10vh;
    margin-left: 35%;
    margin-right: 35%;
}

.taTeTi0 .cuadro {
    
  justify-content: center;    
  background-color: white;
  text-align: center;
  vertical-align: middle;
  background-color:white;
  border: 2px solid black;
}

.taTeTi0 .cuadro img {
  width: 9vw;
  height: 9vh;
  vertical-align: middle;
}

/*----------------------NIVEL 1-------------------------*/

.taTeTi1
{
        margin-left: 30%;
    margin-right: 30%;
   display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw;
    grid-template-rows: 10vh 10vh 10vh 10vh;
}

.taTeTi1 .cuadro {
  background-color: white;
  text-align: center;
  vertical-align: middle;
  background-color:white;
  border: 2px solid black;
 
}


.taTeTi1 .cuadro img {
  width: 8vw;
  height: 9vh;
  vertical-align: middle;
}
/*-----------------------------------------------------*/

/*----------------------NIVEL 2-------------------------*/
.taTeTi2 {
    margin-left: 25%;
    margin-right:25%;
display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh;
}

.taTeTi2 .cuadro {
  background-color: white;
  text-align: center;
  vertical-align: middle;
  background-color:white;
  border: 2px solid black;
 
}


.taTeTi2 .cuadro img {
  width: 9vw;
  height: 9vh;
  vertical-align: middle;
}
/*------------------------------------------------------*/

/*----------------------NIVEL 3-------------------------*/
.taTeTi3{
            margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh;
}


.taTeTi3 .cuadro {
   background-color: white;
  text-align: center;
  vertical-align: middle;
  background-color:white;
  border: 2px solid black;

 
}


.taTeTi3 .cuadro img {
  width: 8vw;
  height: 9vh;
  vertical-align: middle;
}

/*------------------------------------------------------*/

/*-------------------SECCION MENSAJES------------------*/
.mensajes.no-visible{
    display: none;
}
.mensajes{
    position: fixed;
    display: block;
    text-align: center;
    width: auto;
    padding: 10px;
    TOP: 20%;
    LEFT: 30%;
    RIGHT: 30%;
    border: solid 5px;
    border-color: black;
    background-color: rgba(121, 109, 232, 0.95);
    color: aliceblue;
    animation-duration: 1s;
    animation-name: mostrarGanador;
}

@keyframes mostrarGanador {
  from {
    opacity: 0;
  }
    to{
        opacity: 1;
    }
}

.mensajes p{
    opacity: 1;
    transition-duration: 0.5s;
}
/*----------------------------------------------------*/

/*---------------------SECCION PUNTAJES--------------*/

.puntaje.no-visible{
    display: none;
}

.puntaje{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 6vh 8vh 8vh;
    margin-left: 35%;
    margin-right: 35%;
    border: solid 2px;
    background-color: white;
    margin-bottom: 5px;
    margin-top: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.puntaje .cuadro.reiniciar{
  background-color: red;
  text-align: center;
  vertical-align: middle;
  background-color:white;
  border: 2px solid black;
  display: block;
  width: 10vw;
  height: 5vh;
  margin: 10px;
}

.puntaje .celda{
    border: solid 2px;
}

.celda.nombre{
    background-color: white;
    font-size: 150%;
    vertical-align: middle;
}

.celda.iconoX{
    background-image: url("images/X.png");
        background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}
.celda.iconoO{
    background-image: url("images/O.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.celda.puntosO, .celda.puntosX{
    font-size: 150%;
}

.turnoActual{
    background-color: #938AEB;
    transition-duration: 0.5s;
}

/*------------------------------------------------------*/







