@import url(reset.css);

.taTeTi0 {
   display: grid;
    grid-template-columns: 10vw 10vw 10vw;
    grid-template-rows: 10vh 10vh 10vh 2vh 2vh;
}

.niveles{
    display: block;
    margin:20px;
    height: 10vh;
    
    
}

.niveles .botonN {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
    margin: 10px;
}

.niveles .botonN:hover {
	background-color:#6c7c7c;
}
.niveles .botonN:active {
	position:relative;
	top:1px;
}



.taTeTi0 .cuadro {

  background-color: white;
  text-align: center;
  vertical-align: middle;
  background-color:white;
  border: 2px solid black;
}
.puntaje .cuadro.reiniciar{
    
  background-color: red;
  text-align: center;
  vertical-align: middle;
  background-color:white;
  border: 2px solid black;
  display: block;
  width: 10vw;
  height: 5vh;
  margin: 10px;
  
  
}



.taTeTi0 .cuadro img {
  width: 10vw;
  height: 10vh;
  vertical-align: middle;
}



.taTeTi1{
   display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw;
    grid-template-rows: 10vh 10vh 10vh 10vh;
}

.taTeTi1 .cuadro {
  background-color: white;
  text-align: center;
  vertical-align: middle;
  background-color:white;
  border: 2px solid black;
 
}


.taTeTi1 .cuadro img {
  width: 8vw;
  height: 9vh;
  vertical-align: middle;
}

.taTeTi2 {
display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh;
}

.taTeTi2 .cuadro {
  background-color: white;
  text-align: center;
  vertical-align: middle;
  background-color:white;
  border: 2px solid black;
 
}


.taTeTi2 .cuadro img {
  width: 9vw;
  height: 9vh;
  vertical-align: middle;
}


.taTeTi3{
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh;
}


.taTeTi3 .cuadro {
   background-color: white;
  text-align: center;
  vertical-align: middle;
  background-color:white;
  border: 2px solid black;

 
}


.taTeTi3 .cuadro img {
  width: 8vw;
  height: 9vh;
  vertical-align: middle;
}
