.boton{ 
	display: block; 
	padding: 10px 10px;
	color: white;
	vertical-align: middle;
	font-family: 'Rubik One', sans-serif;
	text-decoration: none;
	font-size: 15px;
	transition: all .5s;
	background-color: #3498db;
}

.jsonText{
    width: 300px;
    height: 300px;
    text-align: top;
}

.pregunta{
    //width: 300px;
    //height: 300px;
    //display: block;
    border: 5px;
    margin: 3px;
    border-color: black;
    background-color: cadetblue;
}

.pregunta p{
    font-weight: bold;
}

.pregunta .respuesta{
    /*display: block;*/
    margin-right: 20px;
}

.acierto{
    color: darkgreen;
}

.error{
    color: darkred;
}

.resultado{
    margin-top: 20px;
    font-size: 30px;
    display: block;
}