body{
    color: antiquewhite;
    
    background-color: black;
}

.listado.seleccionado{
    background-color: indianred;
}

.boton{
 text-transform:uppercase;
    letter-spacing:2px;
    padding:10px 10px;
    transform-origin:100% 50%;
    color:#fff;
    position:relative;
    background-color: crimson;
    
    
}

.boton.quitar{

    width: 15%;
    height: 10%;
}

#contenedor{
    display: inline;
}

.videos.videoActual{
    display: block;
    float: left;
    width: 60%;
}

.videos.listaVideos{
    display: block;
    float: left;
    width: 40%;
    height: 600px;
    overflow: scroll;
    outline-color: aqua;
    border-bottom-style: double;
    border: 2px 2px 2px 2px;
}

.listado video{
    display: inline-block;
    width: 40%;
    height: 90%;
    margin: 2px;
}
.listado label{
    display: block;
    float: right;
    width: 50%;
    height: 20%;
    position:relative;
       overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.listado{
    display: block;
    margin-top: 5px;
    border: 10px;
    border-color: crimson;
    overflow:hidden;
}

