@import url(reset.css);

.oculto{
    width: 20px;
    height: 20px;
    display:none;
    margin: auto;
   
}

.visible{
    width: 20px;
    height: 20px;
    display:block;
    margin: auto;
    background: #80808073;
    margin-top: 5px;
    
}

.imagenReinicio{
    width: 30px;
    height: 30px;
    display:block;
    margin: auto;
}

.explotado{
    background-color: red;
}

.marcado{
    background-color: #80808073;
}

.tableroPrincipiante{
    display: grid;
    grid-template-columns: repeat(8,30px);
    grid-template-rows: repeat(8,30px);
    margin: auto;
}

.tableroIntermedio{
    display: grid;
    grid-template-columns: repeat(16,30px);
    grid-template-rows: repeat(16,30px);
    margin: auto;
}

.tableroExperto{
    display: grid;
    grid-template-columns: repeat(16,30px);
    grid-template-rows: repeat(30,30px);
    margin: auto;
}

.principal{
display: grid;    
    
}

.cuadrado{
    border:solid 1px black;
}

.opcion{
    border: solid 1px black;
    width: 150px;
    text-align: center;
    margin: auto;
}