@import url(reset.css);

body{
    background-color: #A38DCC;
    text-align: center;
    color: aliceblue;
}

.oculto{
    width: 20px;
    height: 20px;
    display:none;
    margin: auto;
   
}

.visible{
    width: 20px;
    height: 20px;
    display:block;
    margin: auto;
    background: #FFF58C;
    box-shadow: 0 0 15px #ddd;
    margin-top: 5px;
    
}

.reinicio{
    margin: 5px;
}

.imagenReinicio{
    width: 30px;
    height: 30px;
    display:block;
    margin: auto;
}

.explotado{
    background-color: red;
}

.marcado{
    background-color: #80808073;
}

.tableroPrincipiante{
    display: grid;
    grid-template-columns: repeat(8,30px);
    grid-template-rows: repeat(8,30px);
    margin: auto;
}

.tableroIntermedio{
    display: grid;
    grid-template-columns: repeat(16,30px);
    grid-template-rows: repeat(16,30px);
    margin: auto;
}

.tableroExperto{
    display: grid;
    grid-template-columns: repeat(30,30px);
    grid-template-rows: repeat(30,30px);
    margin: auto;
}

.principal{
display: grid;    
    
}

.cuadrado{
    border:solid 1px black;
    background-color: #FFC400;
}

.menu{
    
}
.lista{
    height: 10vh;
    text-align: center;
    vertical-align: middle;
}

.opcion{
    background-color: #370F80;
    display: block;
    border: solid 3px aliceblue;
    text-align: center;
    margin: auto;
    width: 30%;
    height: 100%;
}


.opcion:hover{
    background-color: #5800FF;
}

.opcion:active{
    font-size: 
}

.opcion p {
    margin-top: 15px;
    color: aliceblue;
}
